* {
  margin: 1rem;
  padding: 1rem;
  color: black;
}

.calculator {
  border: 3px solid black;
  background-color: #baf5ee;
}
.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat(5 1fr);
  grid-template-areas: "plus minus times divide" "seven eight nine equals" "four five six equals" "one two three equals" "zero decimal clear equals";
}
.calculator .buttons .plus {
  grid-area: plus;
}
.calculator .buttons .minus {
  grid-area: minus;
}
.calculator .buttons .times {
  grid-area: times;
}
.calculator .buttons .divide {
  grid-area: divide;
}
.calculator .buttons #one {
  grid-area: one;
}
.calculator .buttons #two {
  grid-area: two;
}
.calculator .buttons #three {
  grid-area: three;
}
.calculator .buttons #four {
  grid-area: four;
}
.calculator .buttons #five {
  grid-area: five;
}
.calculator .buttons #six {
  grid-area: six;
}
.calculator .buttons #seven {
  grid-area: seven;
}
.calculator .buttons #eight {
  grid-area: eight;
}
.calculator .buttons #nine {
  grid-area: nine;
}
.calculator .buttons #zero {
  grid-area: zero;
}
.calculator .buttons #decimal {
  grid-area: decimal;
}
.calculator .buttons #equals {
  grid-area: equals;
}
.calculator textarea {
  margin: 10px;
  border: 2px solid aliceblue;
  border-radius: 3px;
}
.calculator #plus {
  background-color: purple;
  border-radius: 40%;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
}
.calculator #minus {
  background-color: #e9193b;
  border-radius: 40%;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
}
.calculator #times {
  background-color: #13b113;
  border-radius: 40%;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
}
.calculator #divide {
  background-color: #3131f1;
  border-radius: 40%;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
}
.calculator #equals {
  background-color: #e99f15;
  font-weight: bolder;
}
.calculator button {
  background-color: #f18ba1;
  font-size: 1rem;
  font-weight: bold;
}
.calculator .display {
  border: 2px black solid;
}

@media screen and (min-width: 600px) {
  .calculator {
    width: 50vw;
  }
}
@media screen and (min-width: 992px) {
  .calculator {
    width: 60vw;
  }
}
@media screen and (max-width: 472px) {
  .calculator {
    width: 40vw;
    border-width: 70vw;
  }
}